<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.cmu.nsompura.allavailable">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SEND_SMS" />
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="edu.cmu.nsompura.allavailable.ui.login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="edu.cmu.nsompura.allavailable.ui.signup">
            <intent-filter>
                <action android:name="android.intent.action.SIGNUP" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="edu.cmu.nsompura.allavailable.ui.selection">
            <intent-filter>
                <action android:name="android.intent.action.SELECTION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="edu.cmu.nsompura.allavailable.ui.rooms">
            <intent-filter>
                <action android:name="android.intent.action.B23ROOMS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="edu.cmu.nsompura.allavailable.ui.room">
            <intent-filter>
                <action android:name="android.intent.action.ROOMCONTROLLER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="edu.cmu.nsompura.allavailable.ui.roomnotification">
            <intent-filter>
                <action android:name="android.intent.action.NOTIFICATION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="edu.cmu.nsompura.allavailable.ui.seats"
            >
            <intent-filter>
                <action android:name="android.intent.action.ACTIVITY9" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.cmu.nsompura.allavailable.ui.seatnotification"
            >
            <intent-filter>
                <action android:name="android.intent.action.ACTIVITY10" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.cmu.nsompura.allavailable.ui.sendsms"
            >
            <intent-filter>
                <action android:name="android.intent.action.ACTIVITY11" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.cmu.nsompura.allavailable.ui.sendpicture"
            >
            <intent-filter>
                <action android:name="android.intent.action.ACTIVITY12" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


    </application>

</manifest>
